<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars page</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Brand</th>
                <th>Model</th>
                <th>Year Of Production</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each = "auto : ${carList}">
                <td th:text="${auto.getBrand()}"/>
                <td th:text="${auto.getModel()}"/>
                <td th:text="${auto.getYearOfProduction()}"/>
            </tr>
        </tbody>
    </table>
</body>
</html>